body, h1, h2, h3, button{
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: lighter;
  color: white;
  background-color:black
}

::-webkit-scrollbar {
    display: none;
}

p{
  color:black;
  text-align: justify;
  font-size: larger;
}

#main{
  position: absolute;
  left:5%;
  font-weight: lighter;
  font-size: 30px;
  top :0%;
  margin-top:0.5% ;
  margin-bottom: 0%;
  text-decoration: overline rgb(235, 231, 3);
  height: 10%;
}

.topnav {
  position: relative;
  margin-top: 0%;
  margin-bottom: 0%;
  width: 100%;
  height: 10%;
  background-color:black;
  overflow: hidden;
  border-bottom: 1px solid white;
}

.topnav a {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover, button:hover {
  background-color: white;
  color: black;
}

.topnav a.active {
  background-color: gray;
  color: white;
}

#image{

  width: 100%;
  }
  
 #image img{
   width : 100%;
 }

 #banner{
   padding: 2%;
   text-align: center;
   font-size: 25px;
 }

.float{
  float: left;
}

#about, #logos{
  max-height: 50%;
}

 #about{
   width: 43%;
   background-color: gray;
   padding: 3%;
   margin: 3%;
   margin-left: 7%;
   border-radius: 20px;
   align-content: left;
   text-align: justify;
 }

 #about h1, #about h2{
   color: black;
   background-color: gray;
 }
 
 #logos{
   position: relative;
   height: 100%;
   width: 33%;
   margin-top: 0%;
   object-fit: fill;
 }

 #sol{
   width: 100%;
   position: relative;
   top: 40%;
 }
 #sserd{
  padding: 5%;
  width: 79%;
 }

 #contact{
   margin-left: 7%;
   margin-top: 5%;
 }

 #em, #em1{
   float: left;
   margin-right:15px;
   padding-right:4%;
 }

 button{
    width:90%;
    height: 10%;
    padding:5%;
    color: #fff;
    background: #ce000a;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

  #opsite{
    position: relative;
    margin-top:5%;
    max-height: 60%;
    width:100%;
    overflow: hidden;
  }

 #abstract{
   width: 40%;
   max-height: 100%;
   background-color: gray;
   padding: 5%;
   margin: 3%;
   margin-left: 7%;
   border-radius: 20px;
   align-content: left;
 }

  #abstract h1, #abstract h2{
   color: black;
   background-color: gray;
 }

#report{
  position:relative;
  resize:vertical;
  margin-top: 4%;
  margin-left: 0%;
  max-height: 100%;
  max-width: 100%;
  width: 35%;
  align-content: inherit;
  object-fit: cover;
  display: block;
}

#report img{
  position: relative;
  margin-top:7%;
  height:90%;
  width:90%;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
 #logos{
   width:80%;
   margin-left:15%;
  }

  #about{
    width: 80%;
    text-align: center;
  }

  #abstract{
    width:80%;
    margin-left: 5%;
  }

  #report{
    width:auto;
    margin-left:10%;
  }

  #em1, #em{
    padding-right:50%;
    padding-top:5%;
  }

  #report img, #report button{
    justify-items: center;
  }
}